<section class="frame">
    <h1>Add New Classification</h1>

    <%- messages() %> <!-- Display flash messages -->

    <% if (errors) { %>
        <ul class="notice">
            <% errors.forEach(error => { %>
                <li><%= error.msg %></li>
            <% }) %>
        </ul>
    <% } %>

    <form action="/inv/add-classification" method="post" class="form-container" id="addClassificationForm" onsubmit="return validateForm()">
        <label for="classification_name">Classification Name:</label><br>
        <input type="text" id="classification_name" name="classification_name" required pattern="^[a-zA-Z0-9]+" title="No spaces or special characters allowed."><br>
        <input type="submit" value="Add Classification">
    </form>
</section>